<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form ngForm (ngSubmit)="onSubmit(f.value)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email"
                 class="form-control" required email ngModel
                 #email="ngModel">
          <p *ngIf="email.invalid && email.touched" class="alert alert-warning">Provide correct email please</p>
        </div>
        <div class="form-group">

          <label for="subscription">Subscription</label>
          <select id="subscription" name="subscription" class="form-control" [ngModel]="'Advanced'">
            <option *ngFor="let sub of subscriptions" [value]="sub">{{sub}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password"
                 required class="form-control" ngModel
                 #password="ngModel">
          <p *ngIf="password.invalid && password.touched" class="alert alert-warning">Provide password please</p>
        </div>
        <p *ngIf="f.invalid && f.touched" class="alert alert-danger">Please provide correct values in required fields</p>
        <button type="submit" class="btn btn-primary"
                [disabled]="f.invalid">Submit
        </button>
      </form>
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
</div>
