<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">

    <div class="list-group">
      <a class="list-group-item" routerLink="servers">Reload page - relative - wrong <i>servers</i></a>
      <a class="list-group-item" routerLink="/servers">Reload page - absolute - correct <i>/servers</i></a>
      <a class="list-group-item" routerLink="../servers">Reload page - step back and forward <i>../servers</i></a>
    </div>

    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

